@import '../../global.scss';

.portfoliolist {
    font-size: 15px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    @include mobile {
        margin-right: 60px;
    }

    @include mobile2 {
        font-size: 12px;

    }

    @include mobile3 {
        font-size: 11px;

    }


    &.active {
        background-color: $mainColor;
        color: white;
    }
}